.para{
    font-family:'Times New Roman', Times, serif;
    font-size: 38px;
    text-align: center;
}
.p1{
    font-family: 'Satisfy', cursive;
    line-height:1.8;
    font-size: 18px;
    text-align: center;
}
img{
    height: 90%;
    width: 80%;
    border-radius: 5%;
}
.container{
    /* margin-top: 20px; */
    padding-top: 2%;
}